<p class="text-justify">
The <span style="font-weight:bold;color:#BC2A52">Red Flags</span> project aims
to enhance the transparency of public procurements in Hungary and
<strong>support the fight against corrupt procurements.</strong> It provides an
interactive tool that allows the monitoring of procurement processes and their
implementation by citizens, journalists or even public officials and catch fraud
risks at different stages of the procurement process.
The <span style="font-weight:bold;color:#BC2A52">Red Flags</span> tool
automatically checks procurement documents from the Tenders Electronic Daily
(TED) and <strong>filters risky procurements</strong> through a special
algorithm. Although risky does not mean corrupt, flagged procurement documents
are worth checking. Users can subscribe to receive alerts if risky procurements
are published (generally or in their special field of interest).
</p>

<p class="text-justify">
<span style="font-weight:bold;color:#BC2A52">Red Flags</span> is a common
project of <a href="http://k-monitor.hu/" target="_blank">K-Monitor</a>,
<a href="http://petabyte-research.org/" target="_blank">PetaByte</a> and
<a href="http://transparency.hu/" target="_blank">Transparency International
Hungary</a> with the support of the <a href="http://state.gov">U. S. Department of State</a> and 
<a href="http://ec.europa.eu/dgs/home-affairs/" target="_blank">European
Comission</a>. The views expressed on this website do not necessarily reflect
the views of the European Union.
</p>

<p class="text-center"><br/>
<img src="/img/eu-logo.png" width="53" height="35" vspace="10" /><a href="http://state.gov"><img src="/img/usa-flag.jpg" height="35" vspace="10"/></a><br/>
<strong><em>
The project is possible thanks to the generosity of the U. S. Department of State and the financial support of the Prevention of and Fight against Crime Programme
<br/>European Commission - Directorate-General Home Affairs
</em></strong>
</p>

<p class="text-center license">
	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0;margin-bottom:10px" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"></a>
	<br>
	This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><b>Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</b></a>.
</p>
<p class="text-center summary-btn-container">
	<a class="btn btn-primary btn-lg summary-btn" href="/files/redflags-summary-en.pdf">Read the summary of the project!</a>

</p>
