<p class="text-justify">
Projekt <span style="font-weight:bold;color:#BC2A52">Red Flags</span> (czerwone flagi) ma na celu zwiększenie przejrzystości zamówień publicznych i dostarczenie narzędzi do ułatwienia obywatelskiej, medialnej i urzędowej kontroli korupcji w zamówieniach publicznych. Serwis ten pobiera ogłoszenia z <a href="http://bzp0.portal.uzp.gov.pl/">Biuletynu Zamówień Publicznych</a> i za pomocą dedykowanych algorytmów automatycznie oznacza czerwonymi flagami potencjalne ryzyka korupcyjne. Flagi te nie oznaczają korupcji i powinny być każdorazowo przeanalizowane przez człowieka lub organizację zajmującą się kontrolą zamówień publicznych.
<span style="font-weight:bold;color:#BC2A52">R
</p>

<p class="text-justify">
The <span style="font-weight:bold;color:#BC2A52">Red Flags</span> jest wspólnym projektem <a href="http://k-monitor.hu/" target="_blank">K-Monitor</a>,
<a href="http://petabyte-research.org/" target="_blank">PetaByte</a>,
<a href="http://transparency.hu/" target="_blank">Transparency International
Hungary</a> oraz <a href="http://epf.org.pl/en">Fundacji ePaństwo</a>,  ze wsparciem finansowym
<a href="http://ec.europa.eu/dgs/home-affairs/" target="_blank">Komisji Europejskiej</a> i <a href="http://state.gov">Departamentu Stanu Stanów Zjednoczonych</a>. Poglądy tu wyrażone niekoniecznie odzwierciedlają poglądy Unii Europejskiej.
</p>

<p class="text-center"><br/>
<img src="/img/eu-logo.png" width="53" height="35" vspace="10" /><a href="http://state.gov"><img src="/img/usa-flag.jpg" style="margin-left: 30px;" height="35" vspace="10"/></a><br/>
<strong><em>
Projekt jest możliwy, dzięki szczodrości Departamentu Stanu Stanów Zjednoczonych oraz wsparciu finansowemu Programowi Zapobiegania i Walki z Korupcją
<br/>Komisji Europejskiej - Directorate-General Home Affairs
</em></strong>
</p>



<p class="text-center summary-btn-container">
	<a class="btn btn-primary btn-lg summary-btn" href="/files/redflags-summary-en.pdf">Przeczytaj pełny raport z projektu! [ang]</a>
</p>
