<p class="text-justify">
A <span style="font-weight:bold;color:#BC2A52">Red Flags</span> egy olyan
alkalmazás, amely segít megtalálni korrupciós <strong>kockázatokat tartalmazó
közbeszerzési dokumentumokat</strong> különféle algoritmusok, indikátorok
alapján. Az, hogy egy közbeszerzési dokumentum kockázatot tartalmaz,
természetesen nem jelenti automatikusan azt, hogy az eljárás korrupt, inkább egy
erős jelzés, hogy érdemes odafigyelni bizonyos részleteire. Az alkalmazás célja,
hogy <strong>segítse a korrupció megelőzését és feltárását</strong>,
állampolgárok, újságírók és természetesen a hatóságok számára. Az oldal
folyamatosan bővül új funkciókkal, ezért érdemes rendszeresen visszalátogatni és
feliratkozni az automatikus értesítőre.
</p>
<p class="text-justify">
A <span style="font-weight:bold;color:#BC2A52">Red Flags</span> a
<a href="http://k-monitor.hu/" target="_blank">K-Monitor</a>, a
<a href="http://petabyte-research.org/" target="_blank">PetaByte</a> és a
<a href="http://transparency.hu/" target="_blank">Transparency International Magyarország</a> közös
projektje, amely az
<a href="http://ec.europa.eu/dgs/home-affairs/" target="_blank">Európai
Bizottság</a> támogatásával jött létre. Az itt megjelenő információk nem
feltétlenül tükrözik az Európai Unió álláspontját.
</p>
<p class="text-center"><br/>
<img src="/img/eu-logo.png" width="53" height="35" vspace="10" /><br/>
<strong><em>
A projekt az Európai Bizottság Belügyi Főigazgatóságának, Bűnmegelőzési és a
bűnözés elleni küzdelem programjának támogatásával valósult meg.
</em></strong>
</p>
<p class="text-center summary-btn-container">
	<a class="btn btn-primary btn-lg summary-btn" href="/files/redflags-summary-hu.pdf">Olvasd el a teljes összefoglalót!</a>
</p>